.issue-tag {
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 16px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
}

.issue-tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
