.signup-page-container {
  max-width: 800px;
  min-width: 400px;
  margin: auto auto;

  .container-box {
    padding: 20px;
    background-color: var(--dark-9);
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .box-info-header {
    margin-bottom: 16px;
    font-size: 20px;
  }

  .box-info {
    .label {
      padding: 10px 0;
      display: block;
      color: var(--pink-8);
      font-weight: 500;
    }
  }
}
