.task-item {
  padding: 12px;
  background-color: #040a13;
  border-radius: 6px;
  .ant-checkbox-wrapper {
    margin-top: 2px;
  }
  .ant-checkbox-inner {
    width: 20px;
    height: 20px;

    &::after {
      width: 8px;
      height: 12px;
    }
  }
  .ant-checkbox {
    font-size: 20px;
  }

  .task-item-content {
    .task-item-title {
      font-size: 16px;
      font-weight: 500;
      width: 100%;
    }

    .task-item-actions {
      display: flex;
      align-items: center;

      .task-item-action {
        margin-left: 8px;
        font-size: 20px;
        color: var(--dark-2);
      }
    }
  }

  .task-result-list {
    background-color: var(--dark-8);
    padding: 8px;
  }

  .task-attachment {
    position: relative;

    .remove-attachment-btn {
      padding: 1px;
      border-radius: 50%;
      position: absolute;
      background-color: var(--red-6);
      height: 12px;
      width: 12px;
      right: -2px;
      display: none;
      top: -4px;
      z-index: 10;
    }

    &:hover {
      .remove-attachment-btn {
        display: flex;
      }
    }
  }
}

.tasks-card {
  .ant-card-body {
    padding: 12px;
  }
}
