.issue-container {
  .issue-header {
    .issue-title {
      font-size: 32px;
      font-weight: 500;
    }
    .user-created-issue {
      margin-top: 8px;
      font-size: 12px;
      color: var(--dark-2);
    }
  }

  .tasks-card {
    margin-top: 24px;
    min-height: 200px;
  }

  .issue-main-content {
    max-height: calc(100vh - 255px);
    overflow: auto;
  }

  .issue-comment-box {
    margin-top: 24px;
    padding: 24px 12px;
    border-radius: 12px;
    background-color: var(--dark-7);
    border-radius: 8px;
  }
}

.issue-assignee-dropdown {
  .ant-dropdown-menu-item:has(.assigned) {
    background-color: var(--dark-9);
  }
}
