.ant-btn:has(.ant-btn-icon) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reply-box {
  padding: 4px;
  background-color: #000;
  border-radius: 4px;
  .ant-input {
    border: none !important;
    background-color: #000;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
  }
}

.message-list-item {
  margin-top: 8px;
  margin-bottom: 8px;

  .message-content {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    border-radius: 12px;
  }

  &.message--same-user-top {
    margin-top: 4px;
  }

  &.message--same-user-bottom {
    margin-bottom: 4px;
  }

  &.message--mine {
    margin-left: auto;
    text-align: right;

    .message-content {
      background-color: var(--blue-8);
    }

    &.message--same-user-top {
      .message-content {
        border-top-right-radius: 4px;
      }
    }

    &.message--same-user-bottom {
      .message-content {
        border-bottom-right-radius: 4px;
      }
    }
  }

  &.message--other {
    margin-right: auto;

    .message-content {
      background-color: #000;
    }

    &.message--same-user-top {
      .message-content {
        border-top-left-radius: 4px;
      }
    }

    &.message--same-user-bottom {
      .message-content {
        border-bottom-left-radius: 4px;
      }
    }
  }
}

.priority-tag {
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 6px;
  display: inline-block;
  line-height: 16px;
  height: 20px;
}

.chat-boxes {
  position: absolute;
  display: flex;
  bottom: 0px;
  right: 8px;
}

.chatbox {
  background-color: var(--dark-7);
  border-radius: 8px;
  padding: 8px;
  .chatbox-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--dark-5);
    .chatbox-close-btn {
      display: flex;
    }
    .chatbox-header-info {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  .reply-inbox {
    .upload-attachment-btn {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 4px;
      border-radius: 50%;

      &:hover {
        background-color: var(--dark-5);
      }
    }
    .input-reply-box {
      position: relative;
      .reply-box-input {
        border-radius: 16px;
        padding-right: 32px;
      }
      .emoji-popover {
        position: absolute;
        bottom: 2px;
        right: 8px;
        cursor: pointer;
      }
    }
  }

  .message-list {
    height: 280px;
    overflow-y: auto;
  }
}
